.table-list-device {
    padding-left: 70px;
    width: 1000px;
    margin-top: 5px;
    border-radius: 12px;
}
table {
    border-radius: 12px;
    width: 1400px;
    filter: drop-shadow(2px 2px 8px rgba(232, 239, 244, 0.8));
}
tbody {
    border-radius: 12px;
    padding-left: 200px;
}
table thead {
    font-style: normal;
    font-weight: 700;
    background-color: #FF9138;
    color: #ffffff;
}
.th-border-left {
    border-radius: 12px 0px 0px 0px;
}
.th-border-right {
    border-radius: 0px 12px 0px 0px;
}
.th-border-bottom-left {
    border-radius: 0px 0px 0px 12px;
}
.th-border-bottom-right {
    border-radius: 0px 0px 12px 0px;
}
tr {
    height: 48px;
}
td {
    font-weight: 400;
    font-size: 16px;
    color: #848387;
    padding-left: 12px;
    line-height: 10px;
}
td a {
    font-weight: 400;
    font-size: 14px;
}
.border-table {
    border-right: 2px solid #ffe3cd;
    border-left: 2px solid #ffe3cd;
}
.color-tr-or {
    background-color: #fceac8;
}
.color-tr-white {
    background-color: #ffffff;
}
tr:nth-child(even) {
  background-color: #FFF2E7;
}

h5{
    padding-left: 70px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    /* identical to box height, or 150% */


    /* Orange/$-Orange-500 */

    color: #FF7506;

}


.phantrang {
    display: inline-block;
    height: 32px;
    margin-top: 25px;
    margin-left: 765px;
}
.trang {
    display: flex;
}

.trang li {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trang li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 19px;
    color: #848387;
}

.modautrang {
    background-color: orangered;
}
.modautrang a {
    color: #ffffff !important;
    font-weight: 600;
    font-size: 19px;
}

.nhap_themthietbi {
    width: 495px;
    height: 45px;
    border-radius: 8px;
    border: 1px solid rgb(202, 202, 202);
    padding-left: 10px;
}
.nhap_dv {
    width: 1035px;
    height: 45px;
    border-radius: 8px;
    border: 1px solid rgb(202, 202, 202);
    padding-left: 10px;
}

.select_loai {
    width: 495px;
    height: 45px;
    border-radius: 8px;
    border: 1px solid rgb(202, 202, 202);
    padding-left: 10px;
    color: #757575;
}
.dropdown-loai {
    position: relative;
}
.dropdown-loai select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.dropdown-loai i {
    position: absolute;
    top: 50%;
    left: 465px;
    transform: translateY(-50%);
}
.icon_dropd {
    color: orangered;
    font-size: 25px;
}

.icon_search {
    color: orangered;
    font-size: 20px;
}
.dropd::-webkit-search-cancel-button {
    display: none;
}

.dropdown-icon {
    position: relative;
}

.dropdown-icon select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.dropdown-icon i {
    position: absolute;
    top: 50%;
    left: 240px;
    transform: translateY(-50%);
}

.dropd {
    width: 270px;
    height: 45px;
    border-radius: 8px;
    border: 1px solid rgb(202, 202, 202);
    padding-left: 10px;
}

.phantrang {
    display: inline-block;
    height: 32px;
    margin-top: 15px;
    margin-left: 1170px;
}
.trang {
    display: flex;
}

.trang li {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trang li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 19px;
    color: #848387;
}

.modautrang {
    background-color: orangered;
}
.modautrang a {
    color: #ffffff !important;
    font-weight: 600;
    font-size: 19px;
}

.button-add-device {
    position: absolute;
    width: 80px;
    height: 94px;
    background: #FFF2E7;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px 0px 0px 8px;
    padding: 10px;
    text-align: center;
    right: 0;
}

.button-add-device p, .button-update-device p {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FF7506;
    margin-top: 5px;
}


.content-add-device {
    margin-left: 300px;
    display: inline-block;
}

.area-form-add-device {
    width: 1500px;
    height: 600px;
    background: #FFFFFF;
    box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
    border-radius: 16px;
    margin-top: 10px;
    padding: 16px 24px;
}

.area-form-add-device .infomation-device,
.area-form-add-role .infomation-device {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FF7506;
}

.form-add-device {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-form-add-device, .item-form-add-role {
    margin-top: 25px;
}

.item-form-add-device label, .item-form-add-role label, .area-form-right-role label {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
}

.item-form-add-device label svg, .item-form-add-role label svg {
    margin-left: 4px;
}

.item-form-add-device input, .item-form-add-device select {
    width: 650px;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #D4D4D7;
    border-radius: 8px;
    padding-left: 12px;
    margin-top: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.item-form-add-device input::placeholder,
.item-form-add-role input::placeholder,
.item-form-add-role textarea::placeholder {
    color: #A9A9B0;
}

.item-form-add-device .input-user-device {
    width: 1450px;
    height: 80px;
    background: #FFFFFF;
    border: 2px solid #D4D4D7;
    border-radius: 8px;
}

.item-form-add-device .input-choose-device {
    width: 650px;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #D4D4D7;
    border-radius: 8px;
    padding-left: 12px;
    margin-top: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 12px;
    color: #A9A9B0;
}

.list-choose-device {
    width: 540px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.note-form-add-device {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #7E7D88;
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.note-form-add-device svg {
    margin-right: 4px;
}

.area-button-add_device {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.area-button-add_device button {
    width: 147px;
    height: 48px;
    border: 2px solid #FF9138;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

}

.btn-add-device-abort {
    background: #FFF2E7;
    color: #FF9138;
}

.btn-add-device-add {
    background: #FF9138;
    color: #FFFFFF;
}


.button-update-device {
    position: absolute;
    margin-top: 100px;
    width: 80px;
    height: 94px;
    background: #FFF2E7;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px 0px 0px 8px;
    padding: 12px 4px;
    text-align: center;
    right: 0;
    top: 150px;
}

.info-device {
    margin-top: 20px;
    display: flex;

}

.item-info-device {
    flex: 1;
}

.item-info-device .text-info-device {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.item-info-device .text-info-device p {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #282739;
    width: 150px;
    height: 24px;
}

.item-info-device .text-info-device span {
    margin-left: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #535261;
    width: 150px;
    height: 24px;
}

.item-info-device-use-device {
    display: block;
}

.item-info-device-use-device p {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #282739;
    margin: 8px 0;
}

.item-info-device-use-device span {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #535261;
}

.area-button-update_device {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-top: 26px;
}

.area-button-update_device button {
    width: 115px;
    height: 48px;
    border: 2px solid #FF9138;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.input-choose-device {
    width: 540px;
    height: 44px;
    background: #FFFFFF;
    border: 2px solid #D4D4D7;
    border-radius: 8px;
    padding-left: 12px;
    margin-top: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 12px;
    color: #A9A9B0;
}

.list-choose-device {
    width: 540px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}